<div class="page-header">
  <h3>ナガレテッターランキング </h3>
  <ul class='inline'><li><span class='rankingRange'></span></li></ul>
</div>
<div class='loading' style='text-align: center'><img src='images/icon_loader_f_ww_01_s1.gif'/></div>
<style>
  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }
</style>
<script src='scripts/analytics.js'></script>
